/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
* {
    font-family: 'Noto Sans JP', sans-serif;
}
body {
    background-color: #6ebfb5 !important;
}
/* Buscador */
.nav {
    background-color: #6ebfb5 ;
    padding: 10px;
}

.search-box {
    position: relative;
    top: 10%;
    left: 50% !important;
    transform: translate(-50%);
    background-color: #006a71;
    height: 55px;
    border-radius: 40px; 
    padding: 10px;
        
}
.search-btn {
    float: right;
    border: none;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    padding: 10px 10px;  
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    color: #ffff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 33px;
    width: 0;
    text-transform: lowercase;
}
.search-box:hover .search-txt {
    width: 240px;
    transition: 1s;
}
/* CARDS */
.header-card {
    flex-wrap: wrap;
}

.header-card h5 {
    margin-top: 30px;
} 
.header-card p {
    margin-left: 30px;
} 
.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 3px -2px #dddddd;
}
img {
    border-radius: 10px;
}

span {
    color: white;
    display: inline;
    margin: 5px;
    background-color: #ff5f40;
    border-radius: 25px;
    padding: 5px 10px;
    white-space: nowrap;
}
.card a {
    text-decoration: none;
    color: gray;
}

.card:hover a {
    text-decoration: none;
    color: black;
}
@media (min-width: 576px) and (max-width: 1200px){
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    } 
}
@media (min-width: 576px) and (max-width: 770px){
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    } 
}