.navbar {
    background-color: #333333 ;
}
.card {
    width: 288px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
input {    
    width: 500px !important;
}
.grid-container {
    display: grid;
    grid-row-gap: 50px;
}